html,
body {
    height: 100%;
    overflow: hidden;
}

/* border-box fix */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: #110703;
    /* background-image: url(img/leaves-background-m.jpeg); */
    color: #fcf3ee;
    font-family: "Yuji Syuku", serif;
    letter-spacing: -1.5px;
    font-size: 17px;
}

h2,
h3,
h4,
h5 {
    font-family: "Underdog", system-ui;
}

.wrapper {
    width: 80%;
    height: 100%;
    margin: 0px auto;
    display: grid;
    /* 12 col layout */
    grid-template-columns: repeat(12, minmax(0, 1fr));
    /* grid-template-rows: repeat(5, minmax(0, 1fr)); */
    /* grid-template-rows: auto auto auto; */
    grid-template-rows: auto;
    gap: 10px;
}

/* padding on immediate children of wrapper */
.wrapper>*:not(aside) {
    padding: 20px;
    background: #717416;
    border: 3px double #88a720;
}

header {
    font-family: "Rubik Burned", system-ui;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: center;
    grid-column: 1/13;
}

main {
    grid-column: 3/10;
    grid-row: 2/6;
    overflow-y: auto;
}

nav {
    grid-column: 1/3;
    grid-row: 2/5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 5px 0 10px 0;

    background-color: #4a3723;
    border: 3px inset #6b8e23;
}

nav a {
    display: block;
    text-decoration: none;
    color: #f0e68c;
    padding: 10px;
}

nav a:hover {
    background-color: #6b8e23;
    color: #110703;
}

aside {
    grid-column: 10/13;
    grid-row: 2/6;
    padding: 0;
}

aside section {
    margin: 0 0 10px 0;
}

aside section>* {
    background-color: #717416;
    border: 5px double #88a720;
    margin: 0;
}

aside section h2 {
    border-bottom: none;
    padding: 10px 0 10px 10px;
}

aside section div {
    border-top: none;
    border-top: 2px dotted #88a720;
    padding-left: 10px;
}

aside ul {
    padding: 0 0 0 25px;
    list-style-type: square;
}

aside a, figcaption a {
    color: #fcf3ee;
}

aside li:hover, figcaption a:hover {
    margin-left: 5px;
}

aside blockquote {
    margin: 10px;
}

aside img {
    padding: 20px 20px 20px 10px;
    height: 100%;
    width: 100%;
}

footer {
    grid-column: 1/3;
    grid-row: 5/6;
    font-family: "Underdog", system-ui;
    letter-spacing: 0px;
}

ul {
    overflow-wrap: break-word;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

/* medium */
@media (max-width: 1032px) {

    html,
    body {
        overflow: auto;
    }

    nav {
        grid-column: 1/9;
        grid-row: 2/3;

    }

    nav h2 {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        margin: 10px;
        width: 125px;
        text-align: center;
    }

    main {
        grid-column: 1/9;
        grid-row: 3;
        overflow: visible;
    }

    aside {
        grid-column: 9/13;
    }

    footer {
        grid-column: 1/13;
    }

}

/* small screens */
@media (max-width: 768px) {

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    header {
        order: 1;
    }

    nav {
        order: 2;
    }

    main {
        overflow: visible;
        order: 3;
    }

    aside {
        order: 4;
    }

    footer {
        order: 5;
    }

}


.scene,
.scene *,
.scene *::before,
.scene *::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
}

 .scene {
        position: relative;
        min-height: 55vh;
    }

/* css art modified from https://codepen.io/miocene/pen/RNPXaee */
/* head */
.head {
    top: 85px;
    left: 34px;
    width: 100px;
    height: 100px;
    background: #f0e68c;
    border-radius: 40% 60% 40% 60% / 65% 65% 35% 35%;
    border: 4px solid #110703;
}

.thorax {
    top: 150px;
    left: 115px;
    width: 100px;
    height: 100px;
    background: #f0e68c;
    border-radius: 40% 60% 40% 60%;
    border: 4px solid #110703;
}

.abdomen {
    top: 150px;
    left: 200px;
    width: 150px;
    height: 100px;
    background: #f0e68c;
    border-radius: 40% 60% 40% 60% / 65% 65% 35% 35%;
    border: 4px solid #110703;
}

.ant {
    animation: ant-bob 0.8s infinite ease-in-out alternate;
}
@keyframes ant-bob {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-8px); }
}
