/* border-box fix */
html {
    box-sizing: border-box;
    position: relative;
    /* overflow: hidden; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Yuji Syuku", serif;
    letter-spacing: -1.5px;
    font-size: 19px;
}

h2 {
    font-family: "Underdog", system-ui;
    text-align: center;
}

/* NAV STYLES */
nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}

/* underline */
nav ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;

    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}


/* https://www.w3schools.com/cssref/tryit.php?filename=trycss3_animation-fill-mode */
nav ul li a:hover {
    color: rgb(113, 23, 23);
    animation: shake 0.8s forwards;
}

nav ul li a.active {
    border-bottom-color: #56310c;
}

/* decay behavior */
@keyframes shake {
    0% {
        transform: translateY(0);
        letter-spacing: 0;
        opacity: 1;
    }

    25% {
        transform: translateY(1px) rotate(-0.3deg);
        letter-spacing: 0.3px;
        opacity: 0.90;
    }

    50% {
        transform: translateY(0) rotate(0.2deg);
        letter-spacing: -0.2px;
        opacity: 0.70;
    }

    75% {
        transform: translateY(1px) rotate(-0.2deg);
        letter-spacing: 0.4px;
        opacity: 0.60;
    }

    100% {
        transform: translateY(0);
        letter-spacing: 0.1px;
        opacity: 0.50;
    }
}


/* hover color */
nav ul li a:hover {
    color: rgb(113, 23, 23);
}

/* P5.js */

canvas {
    display: block;
}

/*** BRUISE ***/
#canvas-bg {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 0;
}

#sketch-holder {
    transform: rotate(90deg);
    position: fixed;
    top: -200;
    left: 0;
    width: 100vh;
    height: 100vw;
    z-index: 0; 
}


/* LISTS */

aside ul {
    list-style-type: none;
    /* padding: 5px 0px; */
}

aside ul li {
    padding: 5px 0px;
}

aside ul li::before {
    content: "✶";
    margin-right: 8px;
}

/* PAGE LAYOUTS */
.wrapper-text {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    /* grid-template-rows: auto 1fr auto; */
    margin: 0 auto;
    /* for bg canva */
    position: relative;
    z-index: 1;
}

.wrapper-text main img {
    width: 100%;
}

.wrapper-text nav {
    grid-column: 5/9;
}

.wrapper-text main {
    margin: 0 auto;
    grid-column: 5/9;
    text-align: justify;
}

.wrapper-text aside, footer {
    position: sticky;
    top: 15px;
    max-height: fit-content;
    grid-row: 2;
}

.wrapper-text .toc {
    grid-column: 2/4;
}

.wrapper-text .sources {
    grid-column: 10/12;
    text-align: left;
}

.wrapper-text .sources ul {
    padding: 0 10px;
}

.wrapper-text .sources ul li a {
    max-width: 100%;   
     word-break: break-all;
}

.wrapper-text .pics {
    grid-column: 2/4;
}

/* .wrapper-text footer {
    grid-column: 5/9;
    grid-row: 3;
    text-align: center;
} */

.button a {
  display: inline-block;
  padding: 10px 20px 15px 20px;
  background-color: #56310c;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* hover / active states */
.button a:hover {
  background-color: #661d1d;
}

/* OVERRIDES */
/* home */
.home {
    background-color: #ecd8c5;
    color: #3E1E0F;
    text-align: justify;
}

.home a {
    color: #3E1E0F;
    text-align: justify;
}

.home img {
    width: 220px;
}

/* bruise */
.bruise {
    background-color: #f5d558;
    color: #56310c;
}
.bruise ul li a {
    color: #56310c;
}

.bruise ul li a:hover {
    color: #661d1d;
}

.bruise main p {
    text-align: center;
}

/* mold */
.mold {
    background-color: #1c5303;
    color: #ecd8c5;
}

.mold a {
    color: #ecd8c5;
}

.mold a.active {
    border-bottom-color: #ecd8c5;
}

main button {
    display: block;
    margin: 0 auto;
}